<navbar></navbar>
<!-- <router-outlet></router-outlet> -->

<signup-form></signup-form>
















    <!-- <zippy title="Shipping Details">
        Shipping Details Content
    </zippy>
    <zippy title="Billing Details">
        Billing Details Content
    </zippy> -->

    <!-- <input type="text" [appInputFormat]="'lowercase'"> -->
    <!-- <switch-case-prog></switch-case-prog> -->
    <!-- <like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked"></like> -->
    <!-- <bootstrap-panel>
    <div class="heading">
        <h1>Heading</h1>
    </div>
    <div class="body">
        <h2>
            Body
        </h2>
        <p>Some Contenet ......</p>
    </div>
</bootstrap-panel> -->