







<!-- 

<router-outlet></router-outlet>

<div>
    <input type="number" [value]="nm" [disabled]="bool" #val/>
    <input type="text" [(ngModel)]="name" />
    <div>{{nm}}</div>
    <div>{{name}}</div>
    <button (click)="handleClick(val.value)">click</button>
    <app-button-ele [buttonText]="btnName" (buttonClick)="handleClick(val.value)"></app-button-ele>
    <div>
        <app-input [type]="numberStr" [inputValue]="defaultInput" (valueChanged)="change($event)"></app-input>
        <app-button-ele [buttonText]="btnName" (buttonClick)="handleClick($event)"></app-button-ele>
        {{defaultInput}}
    </div>


    <ul>
        <li *ngFor="let item of data" >{{item.name}}</li>
    </ul>

    <div>
        <input [(ngModel)]="delIp"/>
        <button (click)="onDelete(delIp)">Delete</button>
    </div>

</div> -->